<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://vtool.test.upcdn.net/index.css">
    <link rel="stylesheet" href="http://vtool.test.upcdn.net/style.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="http://vtool.test.upcdn.net/index.js.下载"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>用户后台 - TeaPic</title>
</head>
<body background="https://api.ixiaowai.cn/api/api.php">
    <div id="app">
        <div class="header" style="margin: 0 auto;">
            <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
            <el-menu-item index="1"><a href="/user/index.go">图片上传</a></el-menu-item>
            <el-menu-item index="2"><a href="/user/copyright.go">用户协议</a></el-menu-item>
            <el-menu-item index="3"><a href="/admin/index.go">管理后台</a></el-menu-item>
            <el-menu-item index="4"><a href="/user/admin.go">用户后台</a></el-menu-item>
          </el-menu>
          </div>
          
          <div class="content" style="width: 400px;">
            <div class="title"><h2>用户登陆</h2></div>
            <div style="text-align: center;">
              账号：<input v-model="user" type="text" name="username" style="height: 20px;"> </br></br>
              密码：<input v-model="pwd" type="password" name="password" style="height: 20px;"> </br></br>
              <button style="width: 60px;" @click="login">登陆</button> &nbsp;&nbsp;
              <span style="width: 66px;" @click="quit()">清空</span>
            </div>
          </div>
    </div>
</body>
<script>
    new Vue ({
        el : '#app',
      data() {
        return {
          activeNames: ['1'],
          activeIndex: '4',
          user: '',
          pwd: ''
        };
      },
      methods: {
        quit: function() {
          this.user = ''
          this.pwd = ''
        },
        login: function() {
          // 将token 保存
          var that = this
          axios.get("/admin/login.go?" + "username=" + that.user + "&password=" + that.pwd).then(function (res){
            var token = res.data.token
            if (token == null) {
              alert('登陆失败')
            }else {
              localStorage.setItem("token",token)
              alert('跳入管理后台')
            }
          })
        },
      },
      created: function () {
        // 登陆拦截
        var token = localStorage.getItem("token")
        if (token != null) {
          alert('跳转管理后台')
        }
      }
    })
  </script>
</html>